html{
    box-sizing: border-box;
    }
    *,
    *::before,
    *::after{
        box-sizing: inherit;
    }

    

    a{
        display: inline-block;
        text-decoration: none;
        color: $text;
    }

    ul,li{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    body{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 24px;
        color: $text;
        font-weight: 400;
    }

    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }