@import '_vars';
@import '_global';
@import '_fonts';

// start header

.header__top-inner {
    display: flex;
    justify-content: space-between;
    min-height: 91px;
    align-items: center;
}


.header__text {
    margin-left: auto;
    margin-right: 50px;

    span {
        color: $red;
    }
}

.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.header__btn-login {
    background-color: $green;
}

.header__btn-register {
    background-color: $red;
    margin-left: 7px;

}

.header__menu {
    background-color: $bg;
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
}

.menu__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 30px;
        }
    }

    a {
        color: #fff;
        font-size: 14px;
    }
}

// end header


// start search
.search {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 530px;
}

.search__inner {
    padding: 160px 0 100px;
    color: #fff;
    text-align: center;

    &-title {
        @include f700;
        margin-bottom: 28px;
        font-size: 48px;
        line-height: 72px;
    }

    &-text {
        margin-bottom: 50px;
        font-size: 20px;
        @include f500;
        line-height: 30px;
    }

    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;

        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding-left: 25px;
            padding-right: 60px;

            &::placeholder {
                color: #90a4ae;
                @include f500;

            }
        }

        button {
            position: absolute;
            background-color: transparent;
            border: none;
            top: 16px;
            right: 20px;
        }
    }
}

// end search



// start products
.products {
    padding: 110px 0px;
    background-color: $grey;
}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__inner-btn {
    margin-bottom: 60px;
    text-align-last: center;
    @include f500;

    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;

        &+button {
            margin-left: 5px;
        }

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }
}

.product__item {
    max-width: 442px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;

    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        align-items: center;
        @include f500;
        border-bottom: 1px solid #ebeeef;
    }

    &-name {
        max-width: 310px;
    }

    &-title {
        color: &bg;
        font-size: 18px;
        display: block;
    }

    &-category {
        display: block;
        font-size: 14px;
        color: $green;

    }

    &-price {
        font-size: 20px;
        color: $bg;
        @include f700;
    }

    &-info {
        min-height: 70px;
        display: flex;
        padding: 10px 30px;
        justify-content: space-between;
        align-items: center;
    }

    &-author {
        display: flex;
        align-items: center;
        max-width: 245px;

        span {
            font-size: 14px;
            @include f500;
        }

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }

        span {
            font-size: 14px;
            @include f500;
        }
    }

    &-star {
        font-size: 12px;

        span {
            color: $bg;
        }
    }
}

.products__bottom-btn {

    text-align: center;

    button {
        margin: 45px 5px 0px;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }

}

// end products





// start products-slider
.product-slider {
    padding: 110px 0 120px;

    .slick-dots {
        text-align: center;
        margin-top: 50px;

        li {
            margin-left: 3px;
            margin-right: 3px;
            display: inline-block;

            &.slick-active {
                button {
                    background-color: $green;
                }
            }

            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

// end products-slider
// start advantages

.advantages {
    background-color: $bg;
    padding: 100px 0 110px;
}

.advantages__title {
    color: #fff;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;

}

.advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0px 15px;

    &:hover {
        .advantages__item-title {
            color: $green;
        }

        .advantages__item-images {
            background-color: $green;
        }

        .advantages__item-images {
            g {
                fill: #fff;
            }
        }
    }

    &-images {
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .5s;
    }

    &-title {
        margin-bottom: 25px;
        font-size: 24px;
        color: #fff;
        @include f500;
        transition: all .5s;
    }

    &-text {
        font-size: 15px;
    }
}

.icosvg-1 {
    svg {
        width: 50px;
    }

}

.icosvg-2 {
    svg {
        width: 70px;
    }

}

.icosvg-3 {
    svg {
        width: 86px;
    }
}


// end advantages



// start author



.author {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }
    &__title{
      font-size: 30px;
      line-height: 30px;
      color: #fff;
      margin-right: 45px;
      max-width: 260px;
      span{
          @include f700;
      }
    }
    &__link{
      background-color: #fff;
      font-size: 18px;
      line-height: 36px;
      padding: 14px 40px;
    }
}


// end author