@import '_vars';
@import '_global';
@import '_fonts';

// start header

.header__top-inner {
    display: flex;
    justify-content: space-between;
    min-height: 91px;
    align-items: center;
}


.header__text {
    margin-left: auto;
    margin-right: 50px;

    span {
        color: $red;
    }
}

.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.header__btn-login {
    background-color: $green;
}

.header__btn-register {
    background-color: $red;
    margin-left: 7px;

}

.header__menu {
    background-color: $bg;
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
}

.menu__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 30px;
        }
    }

    a {
        color: #fff;
        font-size: 14px;
    }
}

// end header


// start search
.search {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 530px;

    &.page-search {
        min-height: 230px;

        .search__inner {
            padding: 55px 0 70px;

            &-text {
                margin-bottom: 20px;
            }
        }
    }
}

.search__inner {
    padding: 160px 0 100px;
    color: #fff;
    text-align: center;

    &-title {
        @include f700;
        margin-bottom: 28px;
        font-size: 48px;
        line-height: 72px;
    }

    &-text {
        margin-bottom: 50px;
        font-size: 20px;
        @include f500;
        line-height: 30px;
    }

    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;

        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding-left: 25px;
            padding-right: 60px;

            &::placeholder {
                color: #90a4ae;
                @include f500;

            }
        }

        button {
            position: absolute;
            background-color: transparent;
            border: none;
            top: 16px;
            right: 20px;
        }
    }
}

// end search



// start products
.products {
    padding: 110px 0px;
    background-color: $grey;
}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__inner-btn {
    margin-bottom: 60px;
    text-align-last: center;
    @include f500;

    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;

        &+button {
            margin-left: 5px;
        }

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }
}

.product__item {
    max-width: 442px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;

    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        align-items: center;
        @include f500;
        border-bottom: 1px solid #ebeeef;
    }

    &-name {
        max-width: 310px;
    }

    &-title {
        color: &bg;
        font-size: 18px;
        display: block;
    }

    &-category {
        display: block;
        font-size: 14px;
        color: $green;

    }

    &-price {
        font-size: 20px;
        color: $bg;
        @include f700;
    }

    &-info {
        min-height: 70px;
        display: flex;
        padding: 10px 30px;
        justify-content: space-between;
        align-items: center;
    }

    &-author {
        display: flex;
        align-items: center;
        max-width: 245px;

        span {
            font-size: 14px;
            @include f500;
        }

        .avatar {
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }

        span {
            font-size: 14px;
            @include f500;
        }
    }

    &-star {
        font-size: 12px;

        span {
            color: $bg;
        }
    }
}

.products__bottom-btn {

    text-align: center;

    button {
        margin: 45px 5px 0px;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }

}

// end products



// start products-slider
.product-slider {
    padding: 110px 0 120px;

    .slick-dots {
        text-align: center;
        margin-top: 50px;

        li {
            margin-left: 3px;
            margin-right: 3px;
            display: inline-block;

            &.slick-active {
                button {
                    background-color: $green;
                }
            }

            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

// end products-slider


// start advantages
.advantages {
    background-color: $bg;
    padding: 100px 0 110px;
}

.advantages__title {
    color: #fff;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;

}

.advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0px 15px;

    &:hover {
        .advantages__item-title {
            color: $green;
        }

        .advantages__item-images {
            background-color: $green;
        }

        .advantages__item-images {
            g {
                fill: #fff;
            }
        }
    }

    &-images {
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .5s;
    }

    &-title {
        margin-bottom: 25px;
        font-size: 24px;
        color: #fff;
        @include f500;
        transition: all .5s;
    }

    &-text {
        font-size: 15px;
    }
}

.icosvg-1 {
    svg {
        width: 50px;
    }

}

.icosvg-2 {
    svg {
        width: 70px;
    }

}

.icosvg-3 {
    svg {
        width: 86px;
    }
}

// end advantages



// start author
.author {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }

    &__title {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 260px;

        span {
            @include f700;
        }
    }

    &__link {
        background-color: #fff;
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
    }
}

// end author


// start tutorial
.tutorial {
    padding: 60px 0px 12px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        width: 100%;
    }
}

.tutorial__item {
    &-images {
        min-height: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    &-title {
        font-size: 24px;
        background-color: #f8f8f8;
        text-align: center;
        @include f700;
        padding: 30px 10px;
        color: $bg;
    }
}

// end tuturial



// start footer
.footer {
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }
}

.footer__copy {
    border-top: 1px solid #424d53;
}

.footer__copy-text {
    text-align: center;
    color: #919699;
    padding: 25px 0px 25px;
}

.footer__col {
    max-width: 270px;
    width: 100%;

    &-menu {
        max-width: 220px;
    }

    &-title {
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;
        }
    }

    &-text {
        color: #b7c3c8;
        margin-bottom: 30px;
    }
}

.footer__info {
    margin-top: 18px;
    color: #fff;
    @include f500;
    padding-left: 30px;
    position: relative;

    &::before {
        content: '\f041';
        font-family: 'icomoon';
        font-size: 18px;
        color: $green;
        position: absolute;
        left: 0;
    }
}

.footer__info-phone {
    &::before {
        content: '\f095';
    }
}

.footer__col-list {
    a {
        margin-bottom: 15px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;

        &::before {
            content: '\f105';
            position: absolute;
            color: $green;
            left: 0;
            font-size: 18px;
            font-family: 'icomoon';
        }
    }
}


.footer__social-link {
    margin-bottom: 33px;

    li {
        display: inline-block;

        &+li {
            margin-left: 7px;
        }
    }

    a {
        width: 28px;
        height: 28px;
        background-image: url(../images/css_sprites.png);

    }
}

.link-twitter {
    background-position: -28px 0;
}

.link-youtube {
    background-position: 0 -28px;
}

.link-pinterest {
    background-position: -28px -28px;
}

.link-linkedin {
    background-position: -56px 0;
}

.footer__form-title {
    font-size: 20px;
    margin-bottom: 15px;
    color: #fff;
}

.footer__form {
    position: relative;

    input {
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        height: 30px;
        color: #fff;
        font-size: 14px;
        padding-left: 13px;
        padding-right: 50px;
        outline: none;

        &::placeholder {
            color: #697378;
        }
    }

    button {
        position: absolute;
        outline: none;
        bottom: 0;
        right: 0;
        background-color: $green;
        border: none;
        height: 40px;
        width: 43px;
        cursor: pointer;

        &::before {
            content: '\f124';
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            font-size: 20px;
            top: 10px;
            left: 11px;
        }
    }

}

// end footer


// start product-page
.product-page__inner {
    display: flex;
    padding-bottom: 110px;
}

.product-page__aside {
    margin-right: 30px;
}

.aside__item {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 32px 32px;
    margin-bottom: 30px;
    width: 270px;
}

.aside__title {
    border-bottom: 1px solid #dde3e8;
    color: $bg;
    font-size: 20px;
    padding: 20px 0 18px;
    @include f700;
}

.category__list {
    padding-top: 10px;

    li {
        display: flex;
        padding: 10px 0px;
        justify-content: space-between;
        padding-left: 20px;
        position: relative;

        &::before {
            content: '\f105';
            position: absolute;
            color: $green;
            left: 0;
            font-size: 18px;
            font-family: 'icomoon';
        }
    }

    a {
        color: $bg;
    }

    span {
        color: #90a4ae;
        margin-left: 10px;
    }
}

.price-range {
    form {
        padding-top: 20px;
        padding-bottom: 25px;
    }

    button {
        margin-top: 55px;
        @include f500;
        padding: 16px 10px;
        background-color: $green;
        color: #fff;
        text-align: center;
        width: 100%;
        display: block;
        border: none;
        cursor: pointer;
        position: relative;

        &::before {
            content: '\f002';
            position: absolute;
            color: #fff;
            left: 58px;
            top: 15px;
            font-size: 15px;
            font-family: 'icomoon';
        }
    }
}

.irs-min,
.irs-max {
    display: none;
}

.irs--flat .irs-line {
    color: #f2f5f8;
    height: 5px;
}

.irs--flat .irs-bar {
    background-color: $bg;
    height: 5px;
}

.irs--flat .irs-handle {
    width: 16px;
    height: 16px;
    border: 4px solid $green;
    background-color: #fff;
    border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
}

.irs-from,
.irs-single,
.irs-to {
    top: 45px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
    display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    color: #78909c;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0px;
}

.irs--flat .irs-handle {
    top: 19px;
}

.product-page__aside {
    .product__item-img {
        min-height: 120px;
    }

    .product__item {
        box-shadow: none;
    }

    .product__item-content {
        padding: 0;
        min-height: 75px;
        border-bottom: none;
    }

    .product__item-info {
        padding: 0;
        min-height: 0;
    }

    .product__item-title {
        font-size: 16px;
    }

    .product__item-price {
        font-size: 16px;
    }

    .product__item-starnum {
        display: none;
    }

    .rate-star {
        margin-right: 0;
    }

    .product__item {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dde3e8;
    }
}

.aside__product-item {
    .product__item:last-child {
        border: none;
        padding-bottom: 0;
    }

    .product__item:first-child {
        margin-top: 26px;
    }
}

.top-sellers__link {
    padding: 16px 10px;
    display: block;
    background-color: $green;
    color: #fff;
    @include f500;
    text-align-last: center;
}


.product-page__filter {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 20px;
    margin-bottom: 30px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #90a4ae;
        outline: none;

        &.active {
            color: $green;
        }
    }
}

.product-page__filter-sort {
    font-size: 14px;
    color: #707070;
    display: flex;
    align-items: center;
}

button.icon-sort-amount-desc {
    font-size: 18px;
    color: #455a64;
}

button.icon-unsorted {
    font-size: 14px;
    color: #707070;
}

.product-page__content {
    width: 100%;
}

.product-page__content {
    .product__item {
        max-width: 270px;
        background-color: #fff;
        transition: all .5s;
    }

    .product__item-content {
        padding: 10px 20px;

    }

    .product__item-img {
        min-height: 180px;
    }

    .product__item-title {
        font-size: 16px;
    }

    .product__item-info {
        min-height: 65px;
        padding: 10px 20px;
    }

    .rate-star {
        padding: 0;
        margin-right: 5px;
    }
}

.product-page__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.pagination {}

.pagination__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 10px;
        }
    }

    a,
    span {
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        width: 43px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        font-size: 16px;
        color: $bg;
        @include f500;

        &.active {
            background-color: red;
            color: #fff;
        }
    }
}

.product__item-text {
    display: none;
}

.product__item-price {
    span {
        display: none;
    }
}

.product__item-list {
    display: none;

    .icon-comment-o,
    .icon-heart-o {
        display: inline-block;
        font-size: 12px;
        color: #70838d;
        padding-left: 50px;
        border-left: 1px solid #aeb4bb;
        position: relative;

        span {
            color: $bg;
            @include f500;
        }

        &::before {
            font-size: 16px;
            color: $green;
            position: absolute;
            left: 20px;
            top: 0;
        }
    }

    .icon-comment-o {
        padding-right: 30px;

        &::before {
            top: -2px;
        }
    }

}

.product__item {
    &.list {
        max-width: 100%;

        .product__item-img {
            width: 240px;
            float: left;
            min-height: 100%;
        }

        .product__item-text {
            display: block;
            font-size: 14px;
            color: #70838d;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        .product__item-price {
            font-size: 30px;

            span {
                display: block;
                font-size: 13px;
                color: #aeb4bb;
                margin-top: 30px;
            }

        }

        .product__item-name {
            max-width: 480px;
        }

        .product__item-content {
            padding-top: 23px;
        }

        .product__item-list {
            display: block;
        }

        .product__item-star {
            margin-left: auto;
            margin-right: 30px;
        }

    }
}



// end product-page